#loading-frame{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.631);
  z-index: 2;
}

#loading-frame div{
  z-index: 3;
  font-size: 20px;
  width: 100px;
  height: 100px;
}


#url_word_cloud{
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
}

.highlight { 
  color: #000000;
  background-color: yellow 
}